<div class="ark-widget">
	<div class="status"></div>
	<p class="name"></p>
	<div class="info">
			<p class="server">
					<span class="players"></span>
					<span class="map"></span>
			</p>
			<p class="check"></p>
	</div>
	<a class="connect" href="#">Connect</a>
</div>