{{! Clarity }}
<div class="dota2-item-info" data-dota2-item="clarity">
  <div class="item-intro">
    <img src="http://static.ponie.club/dota2/images/items/clarity.png" />
    <div class="intro-title">
      <span>Clarity</span>
      <span class="cost">50</span>
    </div>
  </div>
  <div class="item-description">
    <p>
      Use: Restores mana to the target unit over time.  If the unit is attacked, the effect is lost.
    </p>
  </div>
  <div class="item-effect">
    <p>TOTAL MANA RESTORED: <span>190</span></p>
    <p>DURATION: <span>50</span></p>
  </div>
</div>

{{! Faerie Fire }}
<div class="dota2-item-info" data-dota2-item="faerie_fire">
  <div class="item-intro">
    <img src="http://static.ponie.club/dota2/images/items/faerie_fire.png" />
    <div class="intro-title">
      <span>Faerie Fire</span>
      <span class="cost">75</span>
    </div>
  </div>
  <div class="item-description">
    <p>
      Use: Consume the Faerie Fire to instantly restore 75 HP
    </p>
  </div>
  <div class="item-effect">
    <p>+2 Damage</p>
    <p>HEALTH RESTORED: <span>75</span></p>
  </div>
  <div class="item-cd">
    <p class="cd">5</p>
  </div>
</div>

{{! Enchanted Mango }}
<div class="dota2-item-info" data-dota2-item="enchanted_mango">
  <div class="item-intro">
    <img src="http://static.ponie.club/dota2/images/items/enchanted_mango.png" />
    <div class="intro-title">
      <span>Enchanted Mango</span>
      <span class="cost">125</span>
    </div>
  </div>
  <div class="item-description">
    <p>
      Use: Consume the mango to instantly restore 150 mana.
    </p>
    <p>
      Hold Control to use Enchanted Mango on an allied hero.
    </p>
  </div>
  <div class="item-effect">
    <p>+1 HP Regeneration</p>
    <p>MANA RESTORED: <span>150</span></p>
  </div>
</div>

{{! Tango }}
<div class="dota2-item-info" data-dota2-item="tango">
  <div class="item-intro">
    <img src="http://static.ponie.club/dota2/images/items/tango.png" />
    <div class="intro-title">
      <span>Tango</span>
      <span class="cost">125</span>
    </div>
  </div>
  <div class="item-description">
    <p>
      Use: Eat a Tree or Ward - Consume a target tree or ward to gradually restore health.
    </p>
    <p>
      Comes with 4 charges.  Can be used on an allied hero to give them one Tango.
    </p>
    <p>Heals for double duration when used on a Ironwood Tree or Wards.</p>
  </div>
  <div class="item-effect">
    <p>EAT TREE HEALTH RESTORED: <span>115</span></p>
    <p>EAT WARD HEALTH RESTORED: <span>230</span></p>
    <p>EAT WARD CAST RANGE: <span>450</span></p>
    <p>HEAL DURATION: <span>16</span></p>
  </div>
</div>

{{! Healing Salve }}
<div class="dota2-item-info" data-dota2-item="salve">
  <div class="item-intro">
    <img src="http://static.ponie.club/dota2/images/items/salve.png" />
    <div class="intro-title">
      <span>Healing Salve</span>
      <span class="cost">110</span>
    </div>
  </div>
  <div class="item-description">
    <p>Use: Restores health to the target unit over time. If the unit is attacked, the effect is lost.</p>
  </div>
  <div class="item-effect">
    <p>DURATION: <span>8</span><p>
    <p>HEALTH RESTORED: <span>400</span><p>
  </div>
</div>

{{! Smoke of Deceit }}
<div class="dota2-item-info" data-dota2-item="smoke_of_deceit">
  <div class="item-intro"> 
    <img src="http://static.ponie.club/dota2/images/items/smoke_of_deceit.png" />
    <div class="intro-title">
      <span>Smoke of Deceit</span>
      <span class="cost">50</span>
    </div>
  </div>
  <div class="item-description">
    <p>Use: Upon activation, the user and all nearby allied player-controlled units gain invisibility and bonus movement speed for a brief time. Minimap icons will also be hidden. Attacking, or moving within 1025 range of an enemy hero or tower, will break the invisibility. </p>
  </div>
  <div class="item-effect">
    <p>BONUS SPEED: <span>15%</span></p>
    <p>DURATION: <span>35</span></p>
  </div>
</div>