{{! Clarity }}
<div class="dota2-item-info" data-dota2-item="clarity">
  <div class="item-intro">
    <img src="http://static.ponie.club/dota2/images/items/clarity.png" />
    <div class="intro-title">
      <span>Clarity</span>
      <span class="cost">50</span>
    </div>
  </div>
  <div class="item-description">
    <p>
      Use: Restores mana to the target unit over time.  If the unit is attacked, the effect is lost.
    </p>
  </div>
  <div class="item-effect">
    <p>Total mana restored: <span>190</span></p>
    <p>Duration: <span>50</span></p>
  </div>
</div>

{{! Clarity }}
<div class="dota2-item-info" data-dota2-item="faerie_fire">
  <div class="item-intro">
    <img src="http://static.ponie.club/dota2/images/items/faerie_fire.png" />
    <div class="intro-title">
      <span>Faerie Fire</span>
      <span class="cost">75</span>
    </div>
  </div>
  <div class="item-description">
    <p>
      Use: Consume the Faerie Fire to instantly restore 75 HP
    </p>
  </div>
  <div class="item-effect">
    <p>+2 Damage</p>
    <p>Health Restored: <span>75</span></p>
  </div>
  <div class="item-cd">
    <p class="cd">5</p>
  </div>
</div>