<!--<a class="subscribe-button icon-feed" href="{{!@blog.url}}/rss/">Subscribe</a>
{{!#foreach navigation}}
    <li class="nav-{{!slug}}{{!#if current}} nav-current{{!/if}}" role="presentation"><a href="{{!url absolute="true"}}">{{!label}}</a></li>
{{!/foreach}}
-->

<!-- Navigation -->
<a id="mobile-menu" tabindex="0">
  <span class="sr-only">Open Navigation Menu</span>
  <span class="hammy-special">
    <span class="fir"></span>
    <span class="sec"></span>
    <span class="thi"></span>
  </span>
</a>


<nav class="nav-plus">

  <div class="links">
    <a class="home" href="/">
      <span class="icon-home"></span>
    </a>
    
    <!-- Nav Loop -->
    {{#foreach navigation}}
      <a class="link {{#if current}}active{{/if}}" href="{{url absolute="true"}}">
        {{label}}
      </a>
    {{/foreach}}
  </div>

  <div class="nav-footer">

    <a class="link small" href="##">Back to josh.care</a>
    <a class="link" href="https://github.com/pstrawberriedev/joshtheme" target="_blank">
      &nbsp;
      <span class="icon-github"></span>
      <span class="small">Git dirty</span>
    </a>
    <div>
      <span class="small">Made with <span class="icon-code"></span> <span class="icon-drop"></span> <span class="icon-drink"></span> <span class="icon-game-controller"></span> <span class="icon-music"></span> - <a href="/credits">credits</a></span>
    </div>

  </div>

</nav>