<!--<a class="subscribe-button icon-feed" href="{{!@blog.url}}/rss/">Subscribe</a>
{{!#foreach navigation}}
    <li class="nav-{{!slug}}{{!#if current}} nav-current{{!/if}}" role="presentation"><a href="{{!url absolute="true"}}">{{!label}}</a></li>
{{!/foreach}}
-->
<header role="main">
 
  <nav id="nav" role="main">
    <div class="logo">
      <a href="{{url absolute="true"}}" class="brand-logo">{{!meta_title}}Josh</a>
    </div>
  </nav>
  <ul id="mobile-nav" role="menubar" aria-hidden="true">
    {{#foreach navigation}}
      <li class="{{slug}}{{#if current}} active{{/if}}" role="menuitem">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
  </ul>
  <div id="mobile-nav-bounds"></div>
  <div id="mobile-nav-overlap"></div>
  <div id="mobile-menu" role="button">
    <span class="typcn typcn-th-menu"></span>
  </div>
  
</header>