<!--<a class="subscribe-button icon-feed" href="{{!@blog.url}}/rss/">Subscribe</a>
{{!#foreach navigation}}
    <li class="nav-{{!slug}}{{!#if current}} nav-current{{!/if}}" role="presentation"><a href="{{!url absolute="true"}}">{{!label}}</a></li>
{{!/foreach}}
-->
<header role="main">
 
  <nav id="nav" role="main">
    <div class="logo">
      <a href="{{url absolute="true"}}" class="brand-logo">
        <span class="typcn typcn-home"></span>
        <span class="sr-only">Home</span>
      </a>
    </div>
  </nav>
  <ul id="mobile-nav" role="menubar" aria-hidden="true">
    {{#foreach navigation}}
      <li class="{{slug}}{{#if current}} active{{/if}}" role="menuitem">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
    <li aria-haspopup="true" role="menu" data-opens="ecom">
        <a aria-expanded="false">Tags</a>
      </li>
      <ul data-submenu="ecom">
        <li class="back">
          <a>
            &lsaquo; Tags <span class="sr-only">- back to previous menu</span>
          </a>
        </li>
        <li>
          <a href="/catalog">Product Catalog</a>
        </li>
      </ul>
  </ul>
  <div id="mobile-nav-bounds"></div>
  <div id="mobile-nav-overlap"></div>
  <div id="mobile-menu" role="button">
    <span class="sr-only">Open Menu</span>
    <span class="typcn typcn-th-menu"></span>
  </div>
  
</header>