/*
  Author
*/

.page-author {

  h1 {text-align:center;}
  
  .author-image, .author-image img {
    display:inline-block;
    max-width:80px;
  }
  
  .author-meta {
    text-align:center;
    max-width:980px;
    margin-left:auto;
    margin-right:auto;
      .meta-item:nth-child(2) {
        border-left:1px solid rgba(255,255,255,.1);
        border-right:1px solid rgba(255,255,255,.1);
        @media (max-width:767px) {
          border-left:0;
          border-right:0;
          margin:.8rem 0;
          padding:.8rem 0;
          border-top:1px solid rgba(255,255,255,.1);
          border-bottom:1px solid rgba(255,255,255,.1);
        }
      }
  }
  
  blockquote {
    margin:2rem auto;
    max-width:980px;
    border-bottom:1px solid #eee;
    padding-bottom:1.5rem;
  }
  
  hr {
    max-width:980px;
    margin-left:auto;
    margin-right:auto;
  }
  
  //+ In-Page
  h3 {
    font-weight:normal;
  }
  
}