/*
  Index
*/

.page-home {
  
  // header[role=banner]
  // extended from base.less, colors.less
  header[role=banner] {
    background:@color-dark;
    color:@color-light;
    h1 {
      font-size:4.5em;
    }
    p {font-family:@font-default;}
  }
  
}