/*
  Index
*/

.index-title {
  
  text-align:center;
  padding:1rem 0 2rem 0;
  
}

#home {
  
  text-align:center;
  h2 {margin-bottom:1.5rem;}
  
  .title-image {
    display:inline-block;
    margin-right:.6rem;
    @media(max-width:767px) {
      display:block;
      margin:0 auto;
    }
    &.no-title {
      margin-top:4rem;
    }
  }
  
}