/*
  Loop
*/

// Main Loop
//
#loop {
  
  text-align:center;
  
  //Article Wrapper
  article.loop-post {
    margin-bottom:2rem;
    
    .post-title {
      display:inline-block;
      border-bottom:1px solid #ddd;
      padding-bottom:.3rem;
      .font-primary;
    }
    
    // Meta
    time, .post-tag {
      display:inline-block;
      position:relative;
      margin-top:.3rem;
    }
    time {margin-right:1rem;}
  }
  
  // Author Loop
  //
  &.loop-author {

    article.loop-post {
      margin-bottom:1.8rem;
    }
    time {font-size:1rem;}

  }
  
}

// Pagination
//
nav.pagination {
  
  .page-nav {display:inline-block;}
  
}

.pagination {
  
  &.center {
    text-align:center;
  }
  &.bottom {
    margin-top:4rem;
    margin-bottom:2.5rem;
  }
  
}