/*
  Base
*/

// Resets
ul,ol,li,p,h1,h2,h3,h4,h5,figure,blockquote {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin:0;
  padding:0;
}

// Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Global Setup
img {
  max-width:100%;
  height:auto;
}
figure {
  margin:0;
}

// Headers
header[role=banner] {
  padding:1rem;
  margin-left:-15px;
  margin-right:-15px;
  margin-bottom:1rem;
     h1, p {
       font-family:@font-default-thin;
       font-weight:normal;
       text-align:center;
    }
    h1 {
      font-size:5em;
      margin-top:0;
   }
    p {font-size:1.4em;}
}

main.content {
  
  max-width:920px;
  margin:0 auto;
  
}