/*
  Colors
*/

// General

@color-dark:#242424;
@color-pink-dark:#d25299;
@color-green-dark:#1b7742;
@color-sea-dark:#34515E;
@color-orange-dark:#d43900;
@color-blue-dark:#1460aa;
@color-blue-darker:#0f4880;

@color-light:#fff;
@color-light-dark:#f5f5f5;

@color-link: #5ba4e5;