/*
  Colors
*/

// Font
@color-dark:#212121;
@color-light:#FFFFFF;

@color-dark-lighter:#555;
@color-light-darker:#ccc;

// Page
@color-bg-light:#F5F5F5;

// Dota 2
@color-dota2-strength:#680707;
@color-dota2-agility:#002500;
@color-dota2-intelligence:#104273;
@color-dota2-mana:#2b71cd;
@color-dota2-gold:#e7b011;